html, body {
  background-color: #b0fad165;
  scroll-behavior: smooth;
}
p,
li {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8;
  letter-spacing: 2px;
}

/* Fonts */
.menu-title {
  font-size: 2rem;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  padding-top: 1rem;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "M PLUS 1p", sans-serif;
  color: #fc7a00 !important;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 1rem;
}
.nav-link:hover {
  text-decoration: underline;
}
.main_title {
  font-size: 2.5rem;
  font-family: "M PLUS 1p", sans-serif;
  letter-spacing: 2px;
  color: #20183d;
  font-weight: 700;
  line-height: 1;
  background-color: #45a2b3;
  padding: 20px;
  box-shadow: 10px 10px 10px #00000065;
  margin-bottom: 3rem;
}

.section-title {
  font-size: 1.5rem;
  font-family: "M PLUS 1p", sans-serif;
  letter-spacing: 2px;
  color: #20183d;
  font-weight: 700;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Appearance */

section {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.navbar {
  box-shadow: 20px 20px 20px #00000065;
  padding: 1rem;
}

.container-fluid,
.row,
.col {
  margin: 0px !important;
  padding: 0px !important;
}
/* Media queries */

@media (max-width: 570px) {
  .img-fluid {
    width: 100vw !important;
    height: auto;
  }
  .navbar {
    box-shadow: 5px 5px 5px #00000065;
  }
  .menu-title {
    font-size: 1.5rem;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    padding-top: 1rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .main_title {
    font-size: 1.8rem;
  }
  p,
  li {
    font-size: 13px;
  }
  .main_title {
    font-size: 1.3rem;
  }
}
@media (min-width: 570px) {
  .menu-title {
    font-size: 1.5rem;

    font-weight: 700;
    padding-top: 1rem;
  }

  .nav-link {
    font-size: 16px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .main_title {
    font-size: 1.3rem;
  }
}
@media (min-width: 800px) {
  .img-fluid {
    width: 100%;
    height: auto;
  }
  .nav-link {
    font-size: 18px;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .main_title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .img-fluid {
    width: 100%;
    height: auto;
  }
  .main_title {
    font-size: 1.8rem;
  }
  .nav-link {
    font-size: 1.3rem;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  }
}
@media (min-width: 1200px) {
  .img-fluid {
    width: 70%;
    height: auto;
  }
  .nav-link {
    font-size: 1.3rem;
    padding: 1rem;
  }
}
